.select2-container .select2-selection--single{
    height: 38px !important;
}

.select2-container--default .select2-selection--single .select2-slection_rendered{
    line-height: 38px !important;
}

.select2-container--default .select2-selection--single .select2-selection_arrow{
    height: 38px !important;
}
